*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 1140px;
  display: grid;
 /* grid-template-columns: 711px 410px; */
  gap: 30px;
  /* padding: 263px 30px; */
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.result {
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  margin-bottom: 16px;

   block-size: 386px; 
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: inline-flex;
  width: fit-content;
  cursor: pointer;
  gap: 1px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__textfield {
  background-color: transparent;
  border: none;
  min-inline-size: 225px;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label:hover {
  text-decoration: underline solid #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__fieldset-title:has(.search-form__textfield) {
  min-inline-size: 225px;
}

.search-form__fieldset:has(.search-form__checkbox-list) {
  min-inline-size: 212px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  background-color: transparent;
  outline: 1px solid #fff;
  outline-offset: 2px;
  inline-size: 13px;
  block-size: 13px;
  margin: 5px 5px 0 4px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  background-color: #fff;
  display: block;
  min-inline-size: 15px;
  min-block-size: 15px;
  content: "";
}

.search-form__submit-button {
  min-inline-size: 194px;
  max-block-size: 34px;
  margin-top: 20px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  max-block-size: 298px;
  overflow: auto;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  margin-top: 6px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-description-container:hover {
  text-decoration: underline solid #fff;
}

.content__video-card-thumbnail {
  max-inline-size: 194px;
  max-block-size: 103px;
}

.more-button {
  /* margin-top: 30px; */
  inline-size: 100%;
  min-block-size: 34px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
}

.button:hover {
  text-decoration: underline solid #fff;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
